.profile__avatar {
    width: 120px;
    height: 120px;
    background-image: url(../../../images/avatar.jpg);
    background-size: 120px;
    background-position: center;
    border-radius: 120px;
    object-fit: contain;
}

@media screen and (max-width: 640px) {
    .profile__avatar {
        margin: 0 auto;       
    }
}
