.popup__container {
    position: absolute;
    padding: 34px 36px 37px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 359px;
    height: 259px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

@media screen and (max-width: 470px) {
    .popup__container {
        padding: 25px 22px 25px;
        width: 238px;
        height: 272px;
    }
}