.profile {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 880px;
    min-height: 120px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .profile {
        flex-direction: column;
        min-width: 282px;
        min-height: 210px;
        padding-top: 42px;
    }
}

@media screen and (max-width: 640px) {
    .profile {
        flex-direction: column;
        min-width: 282px;
        min-height: 286px;
        padding-top: 42px;
    }
}