<<<<<<< HEAD
.profile__avatar {
    width: 120px;
    height: 120px;
    background-image: url(../../../images/avatar.jpg);
    background-size: 120px;
    background-position: center;
    border-radius: 120px;
    object-fit: contain;
}

@media screen and (max-width: 640px) {
    .profile__avatar {
        margin: 0 auto;       
    }
=======
.profile__avatar {
    width: 120px;
    height: 120px;
    background-image: url(../../../images/avatar.jpg);
    background-size: 120px;
    background-position: center;
    border-radius: 120px;
    object-fit: contain;
}

@media screen and (max-width: 640px) {
    .profile__avatar {
        margin: 0 auto;       
    }
>>>>>>> d569d08730092f21f10e9f34160d7abd29e9421d
}