.info__name {
    
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: white;
    min-width: max-content;
    white-space: nowrap;
    overflow: hidden;    
}

@media screen and (max-width: 500px) {
    .info__name {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        height: 40px;
    }
}